body{
    background: img('images/qize.jpg') no-repeat center fixed;
    background-color:red; 
    background-size: cover;
}
.navi ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: aliceblue;
}
.navi ul li a{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
}
.body{
    border-style: ridge;
    width: 40%;
    height: 80%;
    border-radius: 5%;
    border-color: rgb(243, 241, 241);
    text-align: center;
    color: blanchedalmond;
    background-color: rgba(100, 100, 100, 0.5);
    position:absolute;
    top: 15%;
    left: 30%;
    margin: auto;
    padding: 1%;
}
.body:hover{
    background-color: rgba(135, 241, 227, 0.5);
    color: black;
    transition-delay: 2s;
    transition: 2s;
    transform: scale(21px);
    transform-origin: top;
    border-color: black;
    transition-property: initial;
    zoom:150%;
    
}
.body:hover::after{
    transition-delay: 2s;
    transition: 2s;
}
.contain{
    opacity: 2;
}
.contain p {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    line-height: 40%;
    text-align: center;
}

.contain h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    line-height: 90%;
}
button{
    width: 70%;
    padding: 2% 0%;
    text-align: center;
    margin: 1% 2%;
    border-radius: 25px;
    font-weight: bold;
    border: 2% solid;
    border-color: brown ;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    color: aquamarine;
    background-color:crimson;
}
.form input{
    width: 50%;
    color: red;
    margin: auto;
}
.form2{
    margin: 1%;
    padding: 2% 4%;
}
.form2 input{
    width: 50%;
    color: red;
    margin: 0%;
    background-color: aquamarine;

}
img{
    width: 30%;
    height: 20%;
}
.form2 p{
    font-size:xx-small;
    font-style: italic;
}
.frontbtn{
    width:8%;
    float: left;
}
.frontbtn1 {
    width: 8%;
    float:right;
}
